# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list popular languages for data science
- list popular libraries used in data science
- list data science tools
- arithmetic operations in python with examples

## Exercise 1: Create a Jupyter Notebook

Create a new Jupyter notebook called DataScienceEcosystem.ipynb

## Exercise 2: Create a markdown cell to list data science languages

some of the popular languages that data scientists use are: 
1. Python
2. R
3. SQL

## Exercise 3 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include: 
1. matplotlib
2. numpy
3. pandas

## Exercise 4 - Create a markdown cell with a table of Data Science tools

| Data Science Tools | 
| :----------------: |
| Jupyter |
| R studio |
| Apache Spark |

## Exercise 5 - Create a markdown cell introducing arithmetic expression examples

 _Below are a few examples of evaluating arithmetic expressions in Python_

Exponentiation
--

In [14]:
2 ** 3

8

In [16]:
3 ** 5

243

In [18]:
2 ** -3

0.125

In [20]:
1.6783 ** 3.4323

5.913163799142744

If both operands to an exponentiation operation are integers and the answer is an integer, then it will be expressed as one. If both operands are integers but the answer isn't, then the answer will be expressed as a real number with decimals. As the examples above illustrate, if an exponent b is negative, then ab is defined as 1/a-b. (Technically, this rule is true for all exponents, not just negative ones.)

Integer division (/ /)
--
Python provides a second division operator, //, which performs integer division. In particular, the answer of an integer division operation is always an integer. In particular, a//b is defined as the largest number of whole times b divides into a. Here are a few examples of evaluating expressions with integer division:

In [27]:
-17 // 18

-1

In [29]:
-13 // 6

-3

In [31]:
13 // 6

2

In [33]:
-25 // 4

-7

In [35]:
25 // 4

6

In [38]:
25 // -6

-5

In [40]:
25 // 6

4

In [42]:
25 / 6

4.166666666666667

In [44]:
199 // 200

0

Modulous (%) 
---

a % b evaluates to a - (a // b)*b.

In [47]:
17 % 3

2

In [49]:
25 % -6

-5

In [51]:
199 % 200

199

In [53]:
6.4 % 3.1

0.20000000000000018

##  Exercise 6 - Create a code cell to multiply and add numbers

In [61]:
#This a simple arithmetic expression to mutiply then add integers

In [57]:
(3*4)+5

17

## Exercise 7 - Create a code cell to convert minutes to hours

In [87]:
#This will convert 200 minutes to hours by diving by 60
#The f efers to a formatted string literal, also known as an f-string.
# :.2f: Format the number as a floating-point value with 2 decimal places.

In [75]:
print (f"{200/60} hours.")

3.3333333333333335 hours.

In [81]:
print (f"{200/60:.2f} hours.")

3.33 hours.

## Author 
__Daksh__